// BACKGROUND COLOR
// LAYOUT
$bg-app: #D1D0D9;
$bg-container: #F5F5F5;

// SHADOW
$bg-shadow:  #d8d8d8;

// PROGRESS
$bg-progress-layout: #E07C7C;
$bg-progress-bar: #000000;
$bg-progress-line: #ffffff;

// FILTER
$bg-filter-bar: #ffffff;
$bg-filter-menu: #ffffff;
$bg-filter-menu-hover: #585292;

// TODO
$bg-todo-layout: #ffffff;
$bg-todo-checkbox: #585292;
$bg-todo-button: #585292;