// FONT COLOR

// PROGRESS
$font-progress-title: #ffffff;
$font-progress-completed: #EBB9B8;

// TASK
$font-task-title: #000000;

// FILTER
$font-filter-bar: #000000;
$font-filter-menu: #2E2E2E;
$font-filter-menu-hover: #2E2E2E;
$font-filter-menu-active: #ffffff;
$font-filter-menu-shadow: #d8d8d8;

// TODO
$font-todo-check: #ffffff;
$font-todo-save: #ffffff;
$font-todo-undone: #2E2E2E;
$font-todo-done: #A9A9A9;
$font-todo-icon: #9796A8;
$font-todo-input: #2E2E2E;
$font-todo-edit: #2E2E2E;
$font-todo-delete: #E07C7C;
